
body
{
	
}

#container
{
	margin: 0 auto;
	width: 100%;
	

}

#header
{
	background: #2D73B9;
	padding: 20px;

}

#header h1 
{ 
margin: 0;
color:#FFFFFF;
 }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid white;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 100%;

	
}

#content
{
	clear: left;
	float: left;
	width: 65%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#content table
{

}

#content table td
{
    border:1px solid black;
    background-color:lightblue;
}

#content table th
{

    border:1px solid black;
    background-color: #2D73B9;
}



#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 27%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
	border-style:solid;
	border-left-width:1px;
	border-bottom-width:1px;
	border-top-width:1px;
	border-right-width:0px;
}

#aside h3 { margin: 0; padding:4px;  }

#aside form
{
 padding:4px;

}
#footer
{
	clear: left;
	background:  #2D73B9;
	text-align: right;
	padding: 10px;
	position:absolute;
	bottom:0;
	width:98%;
	height:40px;   /* Height of th*/

	
}

#footer p { color:#FFFFFF  }

#signin
{
	width:250px;
	height:150px;
  	margin:0px auto;
  	padding-right:50px;
	padding-left:50px;
  	text-align:justify;
 	background-color:white;
	border:solid;
	border-width:2px;
  	
}


.element
{  
     width:150px;
     padding:5px;
}
       
#options
{
       	width: 30px;
}



























